* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
    color: #333;
    position: relative;
}


#connect4 {
    background: yellow;
    display: inline-block;
    
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
}

.col.empty {
    cursor: pointer;
}

.next-red {
    background-color: rgba(255, 0, 0, .2);
}

.next-black {
    background-color: #333;
}

.col.red {
    background-color: rgb(255, 0, 0);
}

.col.black {
    background-color: rgb(0, 0, 0);
}

.red {
    color: red;
}

.black{
    color: black;
}

#restart {
    margin-top: 15px;
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 50%;
    background-color: #333;
    color: #eee;
    cursor: pointer;
    transition: all .3s;
}


#restart:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(#333,.2);
}

.messege {
    font-size: 15px;
    background-color: #eee;
    border: 1px solid #000;
    border-radius: 10px;
    z-index: 3;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

