* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    text-align: center;
}


#connect4 {
    background: yellow;
    display: inline-block;
    
}

.col {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    margin: 5px;
}

.col.empty {
    cursor: pointer;
}

.next-red {
    background-color: rgba(255, 0, 0, .2);
}

.next-black {
    background-color: #333;
}

.col.red {
    background-color: rgb(255, 0, 0);
}

.col.black {
    background-color: rgb(0, 0, 0);
}